__pycache__
*.log
*.egg-info
*/build
*.tfstate

# test outputs
sdk/test/unit/outputs

# build outputs
build/*
sdk/build/*
build_logs

# train outputs
*.arrow
events.out.tfevents.*
*.json
*.txt

# misc files
*.pt
check_manifests
error_logs

# pytorch lightning outputs
lightning_logs/*